* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #252525;
}

::selection {
    background-color: rgb(198, 240, 48);
    color: #000000;
}

body {
    background-color: rgb(131, 107, 216);
    background-image: url(bg.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* content ---------- */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 18px;
    text-align: center;
}

.content__password {
    margin: 30px 0;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    background-color: rgb(236, 242, 245);
    word-break: break-all;
}

.content__selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 30px 0 0 0;
}

#generateBtn {
    cursor: pointer;
    margin-top: 25px;
    padding: 10px 45px;
    background-color: rgb(170, 151, 238);
    border-radius: 18px;
    border: none;
    color: #fff;
    font-size: 15px;
}

.number, 
.symbol {
    font-weight: 600;
}

.number {
    color: #4591f5 !important; 
}

.symbol {
    color: #f57745 !important; 
}

@media screen and (max-width: 570px) {
    .content {
        width: 95%;
    }
}

@media screen and (max-width: 375px) {
    .content {
        padding: 30px 15px;
    }
}
